<fieldset>
    <legend><b>Choose your first player...</b></legend>
    <br>
    <input type="radio" name="name1" id="rocky-balboa" value="Rocky Balboa" checked="checked">
    <label for="rocky-balboa">Rocky Balboa</label>
    <input type="radio" name="name1" id="paper-balboa" value="Paper Balboa">
    <label for="paper-balboa">Paper Balboa</label>
    <input type="radio" name="name1" id="scissors-balboa" value="Scissors Balboa">
    <label for="scissors-balboa">Scissors Balboa</label>
    <br>
    <br>
    <legend class="inner-legend">... and their weapon of choice</legend>
    <br>
    <input type="radio" name="choice1" id="rock" value="Rock" checked="checked">
    <label for="rock">Rock</label>
    <input type="radio" name="choice1" id="paper" value="Paper">
    <label for="paper">Paper</label>
    <input type="radio" name="choice1" id="scissors" value="Scissors">
    <label for="scissors">Scissors</label>
    <br>
    <br>
</fieldset>
</form>
<br>
<br>
<br>

<form class="form-inline" action="/play-game" method="post">
<fieldset>
    <legend><b>Choose your second player:</b></legend>
    <br>
    <input type="radio" name="name2" id="chippy-balboa" value="Chippy Balboa" checked="checked">
    <label for="chippy-balboa">Chippy Balboa</label>
    <input type="radio" name="name2" id="rippy-balboa" value="Rippy Balboa">
    <label for="rippy-balboa">Rippy Balboa</label>
    <input type="radio" name="name2" id="snippy-balboa" value="Snippy Balboa">
    <label for="snippy-balboa">Snippy Balboa</label>
    <br>
    <br>
    <legend class="inner-legend">... and their weapon of choice</legend>
    <br>
    <input type="radio" name="choice2" id="rock" value="Rock" checked="checked">
    <label for="rock">Rock</label>
    <input type="radio" name="choice2" id="paper" value="Paper">
    <label for="paper">Paper</label>
    <input type="radio" name="choice2" id="scissors" value="Scissors">
    <label for="scissors">Scissors</label>
    <div id="form-footer">
    <br>
    <br>
    <input type="submit" name="submit_button" id="submit_button" value="Let's rock!">
    </div>
</fieldset>
</form>