{% extends "base.html" %}

{% block content %}
<header>
    <h1>&#9889; Are You Ready to <span id="big-rock">Rock<span id="tiny-joke"> (Paper, Scissors) </span>? </span>&#9889;</h1>
    </header>
    
<br>
<h2>&#9889; The rockiest of prequels... &#9889;</h2>
</header>
<body>
    <main id="balboa-nonsense">
        <br>
        <p>
            The year was 1976, and the Balboa family could only afford one pair of boxing gloves. 
            To determine who got to use them, Rocky and his five brothers, Paper, Scissors, Chippy, Rippy and Snippy decided to battle it out the only way they knew how<sup>1</sup>:
            by playing rock, paper, scissors.<sup>2</sup>
        </p>
        <br>
        <p>
            The Balboa brother were a blur of fists - <b>rock</b> beating <b>scissors</b>, <b>scissors</b> beating <b>paper</b>, and <b>paper</b> for some reason no one could fathom beating <b>rock</b>. 
            But only one brother would emerge victorious...
        </p>
        <br>
        <a href="/"><button type="submit" id="welcome-button" class="submit_button" value="play-again">Ready to play?         &#10154;    &#10154;    &#10154;</button></a>
        <br>
        <br>
        <footer>
        <p><sup>1</sup> Because of the aforementioned lack of gloves, they didn't know how to box yet. 
            Otherwise I imagine they would have settled this issue via boxing. </p>
        
        <p><sup>2</sup> The game's similarity with their names is purely coincidental 
            - their parents (Quarry Balboa and Stationery Shop Balboa) 
            had never even heard of it when they named their sons. </p>


        <br>
        <br>
        </footer>
    </main>
</body>

{% endblock %}
