{% extends "base.html" %}

{% block content %}
<header>
<br>
<h1>&#9889; The rockiest of prequels... &#9889;</h1>
</header>
<body>
    <br>
    <p>
        The year was 1976, and the Balboa family could only afford one pair of boxing gloves. 
        To determine who got to use them, Rocky and his five brothers, Paper, Scissors, Chippy, Rippy and Snippy decided to battle it out the only way they knew how<sup>*</sup>:
        by playing rock, paper, scissors.<sup>**</sup>
    </p>
    <p>
        The Balboa brother were a blur of fists - rock beating scissors, scissors beating paper, and paper for some reason beating rock. 
        But only one brother would emerge victorious...
    </p>

    <br>
    <br>    
    <a href="/"><button type="submit" class="submit_button" value="play-again">Ready to play?         &#10154;    &#10154;    &#10154;</button></a>
    <br>
    <br>
</body>
<p><sup>*</sup> Because of the aforementioned lack of gloves, they didn't know how to box yet. 
    Otherwise I imagine they would have settled this issue via boxing. </p>

<p><sup>**</sup> The game's similarity with their names is purely coincidental 
    - their parents (Quarry Balboa and Stationery Shop Balboa) 
    had never even heard of it when they named their sons. </p>
{% endblock %}
